<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILifeService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILifeService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9001/LifeService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILifeService" contract="ILifeService"
                name="BasicHttpBinding_ILifeService" />
            <endpoint address="net.tcp://localhost:9002/LifeService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILifeService" contract="ILifeService"
                name="NetTcpBinding_ILifeService">
                <identity>
                    <userPrincipalName value="DESKTOP-AID7534\A" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>